{% extends 'base.html' %}
{% block extracss %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/responsive-map.css') }}" />
<style type="text/css">
  .section.intro {
    background-color: #94DDF4;
    color: #0000AE;
  }
  .section.intro h1,
  .section.intro p {
    margin-top: 2em;
    margin-bottom: 1em;
  }
  .section.event-details {
    background-image:url({{ url_for('static', filename='img/shop-display2.jpg') }});
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #000000;
    color: #FFFFFF;
  }
  .section.event-details form input {
    color: #000000;
  }
  .section.event-details a,
  .section.event-details input.submit {
    color: #FFFFFF;
  }
  .section.event-venue {
    background-color: #94DDF4;
    color: #0000AE;
  }
  .section.event-venue a {
    color: #008000;
  }
  .section.problem-list,
  .section.this-is-your-chance
  {
    background-color: #545454;
    color: #FFFFFF;
  }
  .section.sss-birthday {
    background-color: #5C3D35;
    color: #FFFFFF;
    background-image:url({{ url_for('static', filename='img/sssians.jpg') }});
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 20rem;
    padding-bottom: 20rem;
  }
  .section.sss-birthday a,
  .section.date-selection a {
    color: #FFFFFF;
  }
  .section.date-selection {
    background-color: #5C3D35;
    color: #FFFFFF;
  }
  .section.this-is-your-chance a {
    color: #FFFFFF;
  }
  .section.landing-footer {
    background-color: #000000;
    color: #FFFFFF;
  }
  .section.landing-footer a {
    color: #B2EFFF;
  }
</style>
{% endblock %}
{% block body %}
<section class="section intro">
    <h1 class="title">One place. All of SSS.</h2>
    <i class="fa fa-globe landing-large-icon"> </i>
    <p class="section-description">SSS originally started as a small game between a few friends. Now, as you know, it's become a whole lot more than that. The SSS Idea Circuit is happy to announce the <b>SSS Meetup 2016</b>—a meeting of all SSSians from across the country! It will take place in the Lightroom Bookstore in Cooke Town, Bengaluru on 4 May 2016.</p>
</section>
<div class="row section event-details" data-stellar-background-ratio="0.5">
  <div class="twelve columns">
    <h4><i class="fa fa-map-marker fa-lg"> </i> Bengaluru, 4 May 2016</h4>
    <p class="section-description"><em>All SSSians invited</em></p>
    <p class="section-description">You can bring along any friends and family who might be interested, too!</p>
    <form action="{{ url_for('register') }}" method="post">
      {{ form.csrf_token }}
      {{ form.name(placeholder='Name') }}
      {{ form.shop(placeholder='Shop') }}
      {{ form.contact(placeholder='Email or Phone') }}
      <input type="submit" class="submit" value="Register Now" />
    </form>
    <p><em>Not part of SSS? <a href="{{ url_for('register_nonsssian') }}">Register here</a> instead</em></p>
  </div>
</div>
<div class="row section event-venue">
  <div class="six columns">
    <div class="mapWrapper">
    <iframe src="
https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3887.5515698298773!2d77.62035271482227!3d13.00050849083689!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMTPCsDAwJzAxLjgiTiA3N8KwMzcnMjEuMSJF!5e0!3m2!1sen!2s!4v1461634545840"
width="600" height="450" frameborder="0" style="border:0"
allowfullscreen></iframe>
    </div>
  </div>
  <div class="six columns" style="text-align: left;">
    <h4>Lightroom Bookstore</h4>
    <p class="section-description"><i class="fa fa-map-marker"></i> Cooke Town, Bengaluru</p>
    <p><i class="fa fa-clock-o"></i> 4 May 2016, 10:30 AM–4:00 PM</p>
    <h5><i class="fa fa-list-ul"></i> Schedule </h5>
    <p class="section-description">The plan is to open with presentations in the morning, break for lunch, and then begin trading. A full schedule will be uploaded once it is ready, and a notification will be sent to all those who have registered. <a href="{{ url_for('register') }}">(Click here to register!)</a></p>
    <p><i><b>Unable to attend the whole event?</b> If you are new to SSS, then we recommended that you come in the  beginning part, as the presentations will help you understand what SSS is. If you are an SSSian then the second half might be more interesting, because you will get to trade and meet people.</i></p>
  </div>
</div>
<div class="row section sss-birthday" data-stellar-background-ratio="0.7">
  <div class="one column">
    <i class="fa fa-calendar landing-large-icon"></i>
  </div>
  <div class="ten columns birthday-text">
    <h5>SSS is turning 7 this year. We've come a long way&#x2014;and what better way to celebrate than with the entire SSS population?</h5>
    <a class="button" href="{{ url_for('register') }}">Join the celebration!</a>
  </div>
</div>
<div class="row section problem-list">
  <div class="one-third column">
    <i class="fa fa-users landing-large-icon"></i>
    <p>SSS is no longer limited to groups of people in close proximity to each other</p>
  </div>
  <div class="one-third column">
    <i class="fa fa-phone landing-large-icon"></i>
    <p>Exchanges can now take place on the phone, online, or via the post</p>
  </div>
  <div class="one-third column">
    <i class="fa fa-user-secret landing-large-icon"></i>
    <p>However, a number of SSSians have never spoken face-to-face!</p>
  </div>
</div>
<div class="row section this-is-your-chance">
  <div class="twelve columns">
    <p class="section-description">This is your chance to put faces behind the names of people you've never met, get some publicity and customers for your shop, find inspiration, discuss ideas, make new friends or spend time with the old ones. Register now, and help us reach our goal of bringing everyone in SSS together, for once!</p>
    <a class="button" href="{{ url_for('register') }}">Yes, I'm coming!</a>
  </div>
</div>
<div class="row section landing-footer">
  <p>&copy; SSS Idea Circuit, 2016. This is an SSS website. <a href="http://sssnet.tk/">Learn more about SSS</a></p>
  <p>Website powered <a href="http://flask.pocoo.org/">Flask</a>, <a href="http://getskeleton.com">Skeleton</a> and <a href="http://tinydb.readthedocs.org/">TinyDB</a></p>
</div>
{% endblock %}
{% block extrajs %}
<script type="text/javascript" src="{{ url_for('static', filename='jquery/jquery-2.1.4.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.stellar.min.js') }}"></script>
<script type="text/javascript">
  var isMobile = {
    Android: function() {
        return navigator.userAgent.match(/Android/i);
    },
    BlackBerry: function() {
        return navigator.userAgent.match(/BlackBerry/i);
    },
    iOS: function() {
        return navigator.userAgent.match(/iPhone|iPad|iPod/i);
    },
    Opera: function() {
        return navigator.userAgent.match(/Opera Mini/i);
    },
    Windows: function() {
        return navigator.userAgent.match(/IEMobile/i);
    },
    any: function() {
        return (isMobile.Android() || isMobile.BlackBerry() || isMobile.iOS() || isMobile.Opera() || isMobile.Windows());
    }
  };
  // Enable Stellar (parallax) for non-mobile devices only
  $(document).ready(function(){
    if( !isMobile.any() ){
        $(window).stellar();
    }
  });
</script>
{% endblock %}
