{% extends 'base.html' %}
{% block extracss %}
<style type="text/css">
  .section.intro {
    background-color: #94DDF4;
    color: #0000AE;
  }
  .section.intro h1,
  .section.intro p {
    margin-top: 2em;
    margin-bottom: 1em;
  }
  .section.event-details {
    background-image:url({{ url_for('static', filename='img/shop-display2.jpg') }});
    background-size: cover;
    background-color: #000000;
    color: #FFFFFF;
  }
  .section.event-details a {
    color: #FFFFFF;
  }
  .section.slight-problem,
  .section.problem-list,
  .section.our-solution
  {
    background-color: #545454;
    color: #FFFFFF;
  }
  .section.sss-birthday {
    background-color: #AD0000;
    color: #FFFFFF;
    background-image:url({{ url_for('static', filename='img/sssians.jpg') }});
    background-size: cover;
    padding-top: 20rem;
    padding-bottom: 20rem;
  }
  .section.this-is-your-chance {
    background-color: #005000;
    color: #FFFFFF;
  }
  .section.date-selection {
    background-image:url({{ url_for('static', filename='img/shop-display3.jpg') }});
    background-size: cover;
    background-color: #000000;
    color: #FFFFFF;
  }
  .section.date-selection a {
    color: #FFFFFF;
  }
  .section.landing-footer {
    background-color: #000000;
    color: #FFFFFF;
  }
  .section.landing-footer a {
    color: #B2EFFF;
  }
</style>
{% endblock %}
{% block body %}
<section class="section intro">
    <h1 class="title">One place. All of SSS.</h2>
    <i class="fa fa-globe landing-large-icon"> </i>
    <p class="section-description">SSS originally started as a small game between a few friends. Now, as you know, it's become a whole lot more than that. The SSS Idea Circuit is planning to organise a meeting of all SSSians. It will take place in Bengaluru some time in April or May, but we need your help to choose a date.</p>
    <a href="{{ url_for('vote') }}" class="button">Vote for the date now!</a>
</section>
<div class="row section event-details">
  <div class="twelve columns">
    <h4><i class="fa fa-map-marker fa-lg"> </i> Bengaluru, Summer of 2016</h4>
    <p class="section-description"><em>All SSSians invited</em></p>
    <p class="section-description">You can bring along any friends and family who might be interested, too!</p>
    <a href="{{ url_for('vote') }}" class="button">Help us pick a date</a>
  </div>
</div>
<div class="row section slight-problem">
  <div class="twelve columns">
    <h3>a slight problem...</h3>
  </div>
</div>
<div class="row section problem-list">
  <div class="one-third column">
    <i class="fa fa-users landing-large-icon"></i>
    <p>SSS is no longer limited to groups of people in close proximity to each other</p>
  </div>
  <div class="one-third column">
    <i class="fa fa-phone landing-large-icon"></i>
    <p>Exchanges can now take place on the phone, online, or via the post</p>
  </div>
  <div class="one-third column">
    <i class="fa fa-user-secret landing-large-icon"></i>
    <p>A number of SSSians have never spoken face-to-face!</p>
  </div>
</div>
<div class="row section our-solution">
  <div class="twelve columns">
    <h3>...and our solution!</h3>
  </div>
</div>
<div class="row section sss-birthday">
  <div class="one column">
    <i class="fa fa-calendar landing-large-icon"></i>
  </div>
  <div class="ten columns birthday-text">
    <h5>SSS is turning 7 this year. We've come a long way&#x2014;and what better way to celebrate than with the entire SSS population?</h5>
  </div>
</div>
<div class="row section this-is-your-chance">
  <div class="twelve columns">
    <p class="section-description"><em>This is your chance to put faces behind the names of people you've never met, get some publicity and customers for your shop, find inspiration, discuss ideas, make new friends or spend time with the old ones. Register now, and help us reach our goal of bringing everyone in SSS together, for once!</em></p>
  </div>
</div>
<div class="row section date-selection">
  <div class="twelve columns">
    <h2>When is the event?</h2>
    <p class="section-description">We want to make this event accessible to as many people as possible&#x2014;which is why <strong>you</strong> need to help us choose the date! Tell us which dates would work best for you, and we'll try to organize the event in a way that works out best for all.</p>
    <a href="{{ url_for('vote') }}" class="button">Vote for the date now!</a>
  </div>
</div>
<div class="row section landing-footer">
  <p>&copy; SSS Idea Circuit, 2016. This is an SSS website. <a href="http://sssnet.tk/">Learn more about SSS</a></p>
  <p>Website powered <a href="http://flask.pocoo.org/">Flask</a>, <a href="http://getskeleton.com">Skeleton</a> and <a href="http://tinydb.readthedocs.org/">TinyDB</a></p>
</div>
{% endblock %}
